@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
 
/* *, *::before, *::after{
    box-sizing: border-box;
}
body{
    
    margin: 0;
} 
header{
    width: 100%;
    height: ;
    position: relative;
    overflow: hidden;
    z-index: 5;
    background: transparent;
}
nav{
    position:absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1 rem 0;
    background-color: aquamarine;
}

nav .container{
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.logo{
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-top: 5px;
}
.logo span{
    font-weight: 300 ;
}
.nav-pills{
    margin:0;
    padding-right: 4%;
    display:inline-flex;
    list-style: none;
    text-decoration: none; 
}
.container .link{
    font-weight: 800;
    text-decoration: none;
    padding-left: 4rem; 
}
.carousel{
    width: 100vw;
    height: 100vh ;
    position: relative;
}

.carousel>ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}
.slide > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}
.carousel-button{
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0  .5rem;
    background-color: rgba(0, 0, 0, .1);
}
.carousel-button:hover,
.carousel-button:focus{
    color: white;
    background-color: rgba(212, 212, 212, 0.2);   
}
.carousel-button:focus{
    outline: 1px solid white;
}
.carousel-button .prev{
    left: 1rem;
}
.carousel-button .next{
    right: 1rem;
}
 */

 
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
  }
  
  .slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }
  
  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
  }
  
  .carousel-button:hover,
  .carousel-button:focus {
    color: white;
    background-color: rgba(203, 200, 200, 0.43);
  }
  
  .carousel-button:focus {
    outline: 1px solid black;
  }
  
  .carousel-button.prev {
    left: 1rem;
  }
  
  .carousel-button.next {
    right: 1rem;
  } 