@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
<<<<<<< HEAD
=======
    height: ;
>>>>>>> 62d1bdbf8619598928c130f4b2a5155b51e319ef
    position: relative;
    overflow: hidden;
    z-index: 5;
    background: transparent;
}
nav{
    position:absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1 rem 0;
    background-color: aquamarine;
}

nav .container{
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.logo{
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-top: 5px;
}
.logo span{
    font-weight: 300 ;
}
.nav-pills{
    margin:0;
    padding-right: 4%;
    display:inline-flex;
    list-style: none;
    text-decoration: none; 
}
.container .link{
    font-weight: 800;
    text-decoration: none;
    padding-left: 4rem;
}

.slideshow{
    z-index: 5;
    width: 100vw;
    height: 100vh;
    position:relative;
    z-index: 1;
}
.slide{
    position:absolute;
    inset: 0;
    opacity: 0; 
}
.slide li img{
    display: block ;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .slide [data-active]{
    opacity: 1;
} */
